.site-footer {
    background: #262936;
    padding: 50px 0; }
    .site-footer .subscribe-form {
      position: relative;
      margin-bottom: 30px; }
      .site-footer .subscribe-form input[type="text"] {
        padding: 20px 100px 20px 20px;
        background: #1e202b;
        width: 100%;
        color: white; }
      .site-footer .subscribe-form input[type="submit"] {
        position: absolute;
        right: 5px;
        top: 5px;
        bottom: 5px; }
    .site-footer .social-links a {
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 50%;
      background: #1e202b;
      color: #009ad8;
      text-align: center;
      line-height: 2;
      -webkit-transition: .3s ease;
              transition: .3s ease;
      font-size: 20px;
      font-size: 1.4285714286em; }
      .site-footer .social-links a:hover {
        background: #009ad8;
        color: white; }
  

/* footer {
    background-color: #29236c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content ul li {
    display: inline;
    margin-right: 10px;
}

.footer-content a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ff6600;
} */
