/* Reset CSS */
html,
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Tautan */
a {
    color: #4154f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #717ff5;
}

/* Header */
.header {
    background-color: #29236c;
    color: #fff;
    padding: 10px 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.logo img {
    max-height: 40px;
}

.logo span {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 10px;
}

/* Navbar */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Ikon toggle mobile */
.mobile-nav-toggle {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/* Navbar responsif */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    .navbar ul.active {
        display: flex;
    }
}

/* Sudah Responsif tetapi icon hamburger tidak muncul, yg di perbaiki adalah code dari navbar saja  */
